<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ name }}'s Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
<h2>
    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
    {{ name }}'s Watchlist
</h2>
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %} {# 迭代 movies 變量 #}
    <li>{{ movie.title }} - {{ movie.year }}</li>
    {# 等同於 movie['title'] #}
    {% endfor %} {# 使用 endfor 標籤結束 for 語句 #}
</ul>

<ul class="movie-list">
    {% for t in tides %}
    <li>{{ t.height }}</li>
    {% endfor %}
</ul>

<footer>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
</footer>
</body>
</html>